parameters:
	level: 5
	paths:
		- Helpful/

	ignoreErrors:
		- '#Call to an undefined method#' # Ignoring some specific errors if needed
		#- '#Parameter \#3 $subject of function preg_replace expects array|string, string|null given#'
	reportUnmatchedIgnoredErrors: false